@import "../utils";

.page {
  font-family: $ff-syncopate;
  scroll-behavior: smooth;

  &__body {
    position: relative;
    max-width: 1924px;
    margin-left: auto;
    margin-right: auto;

    &--with-menu {
      overflow: hidden;

      &
      .page__header,
      .page__main {
        filter: blur(4px);
      }
    }
  }

  &__header {
    margin-bottom: 25px;

    @include pad {
      margin-bottom: 22px;
    }

    @include desktop {
      margin-bottom: 25px;
    }

    @include wxga {
      margin-bottom: 32px;
    }
  }

  &__hero-section {
    margin-bottom: 66px;

    @include pad {
      margin-bottom: 70px;
    }

    @include wxga {
      margin-bottom: 90px;
    }
  }

  &__news-section {
    margin-bottom: 72px;

    @include desktop {
      margin-bottom: 59px;
    }

    @include wxga {
      margin-bottom: 80px;
    }
  }

  &__subscribe-section {
    margin-bottom: 120px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: auto;
    left: auto;

    visibility: hidden;
    opacity: 0;
    transition: all $transition-time;

    &:target {
      visibility: visible;
      opacity: 1;
    }
  }
}
