/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  width: 100%;
}

/* Safari - solving issue when using user-select:none
on the <body> text input doesn"t working */
input,
textarea {
  -moz-user-select: auto;
   -ms-user-select: auto;
       user-select: auto;
  -webkit-user-select: auto;
}

/* revert the "white-space" property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of "hidden" attribute.
 display:revert; revert to element instead of attribute */
[hidden] {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using
 user-select:none on wrapper element*/
[contenteditable]:not([contenteditable=false]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  line-break: after-white-space;
  -webkit-line-break: after-white-space;
  -moz-user-select: auto;
   -ms-user-select: auto;
       user-select: auto;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
[draggable=true] {
  -webkit-user-drag: element;
}

@font-face {
  font-family: KyivTypeSerif;
  src: url("./styles/fonts/KyivTypeSans-VarGX.ttf");
  font-weight: 400;
  font-style: normal;
}
.page {
  font-family: "Syncopate", sans-serif;
  scroll-behavior: smooth;
}
.page__body {
  position: relative;
  max-width: 1924px;
  margin-left: auto;
  margin-right: auto;
}
.page__body--with-menu {
  overflow: hidden;
}
.page__body--with-menu .page__header,
.page__body--with-menu .page__main {
  filter: blur(4px);
}
.page__header {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .page__header {
    margin-bottom: 22px;
  }
}
@media (min-width: 1024px) {
  .page__header {
    margin-bottom: 25px;
  }
}
@media (min-width: 1366px) {
  .page__header {
    margin-bottom: 32px;
  }
}
.page__hero-section {
  margin-bottom: 66px;
}
@media (min-width: 768px) {
  .page__hero-section {
    margin-bottom: 70px;
  }
}
@media (min-width: 1366px) {
  .page__hero-section {
    margin-bottom: 90px;
  }
}
.page__news-section {
  margin-bottom: 72px;
}
@media (min-width: 1024px) {
  .page__news-section {
    margin-bottom: 59px;
  }
}
@media (min-width: 1366px) {
  .page__news-section {
    margin-bottom: 80px;
  }
}
.page__subscribe-section {
  margin-bottom: 120px;
}
.page__menu {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.page__menu:target {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1024px) {
  .hero-section {
    display: flex;
  }
}
.hero-section__wrapper {
  width: 100%;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .hero-section__wrapper {
    margin-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .hero-section__wrapper {
    width: 230px;
    margin-right: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 1366px) {
  .hero-section__wrapper {
    width: 288px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .hero-section__wrapper {
    width: 400px;
  }
}
.hero-section__title {
  padding-bottom: 16px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 39px;
  color: #101010;
  text-align: center;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .hero-section__title {
    font-size: 4.5rem;
    letter-spacing: 15px;
    line-height: 80px;
    padding-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .hero-section__title {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 1.5rem;
    line-height: 25px;
    letter-spacing: 5px;
  }
}
@media (min-width: 1366px) {
  .hero-section__title {
    font-size: 2.25rem;
    line-height: 50px;
    letter-spacing: 0;
  }
}
@media (min-width: 1920px) {
  .hero-section__title {
    font-size: 3.12rem;
    line-height: 65px;
  }
}
.hero-section__title--styles {
  font-size: 3rem;
  letter-spacing: 3.7px;
  color: #fff;
  -webkit-text-stroke: 2px #24a9f4;
}
@media (min-width: 768px) {
  .hero-section__title--styles {
    font-size: 6.56rem;
    letter-spacing: 6px;
  }
}
@media (min-width: 1024px) {
  .hero-section__title--styles {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
@media (min-width: 1366px) {
  .hero-section__title--styles {
    font-size: 3rem;
    letter-spacing: 0;
  }
}
@media (min-width: 1920px) {
  .hero-section__title--styles {
    font-size: 4.12rem;
  }
}
.hero-section__swiper {
  width: 100%;
}
@media (min-width: 1024px) {
  .hero-section__swiper {
    height: 491px;
  }
}
@media (min-width: 1366px) {
  .hero-section__swiper {
    height: 522px;
  }
}
@media (min-width: 1920px) {
  .hero-section__swiper {
    height: 722px;
  }
}
.hero-section__accordion {
  margin-bottom: 16px;
}

.subscribe-section__wrapper {
  padding-top: 56px;
  border-bottom: 1px solid #101010;
  border-top: 1px solid #101010;
}
@media (min-width: 1024px) {
  .subscribe-section__wrapper {
    padding-top: 94px;
  }
}
@media (min-width: 1366px) {
  .subscribe-section__wrapper {
    padding-top: 88px;
  }
}
.subscribe-section__title {
  margin: 0 auto 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .subscribe-section__title {
    width: 592px;
  }
}
@media (min-width: 1024px) {
  .subscribe-section__title {
    width: 100%;
    font-size: 2rem;
    line-height: 33px;
  }
}
@media (min-width: 1366px) {
  .subscribe-section__title {
    width: 1109px;
    font-size: 2.25rem;
  }
}
.subscribe-section__form {
  margin-bottom: 56px;
}
@media (min-width: 1024px) {
  .subscribe-section__form {
    margin-bottom: 94px;
  }
}
@media (min-width: 1366px) {
  .subscribe-section__form {
    margin-bottom: 88px;
  }
}

.news-section {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
}
@media (min-width: 768px) {
  .news-section {
    padding-left: 32px;
  }
}
@media (min-width: 1024px) {
  .news-section {
    padding: 0 39px;
  }
}
@media (min-width: 1366px) {
  .news-section {
    padding: 0 71px;
  }
}
@media (min-width: 1920px) {
  .news-section {
    padding: 0 114px;
  }
}
.news-section__title {
  margin-bottom: 24px;
}

.footer {
  padding-top: 40px;
  color: #fff;
  background-color: #101010;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 60px;
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-top: 56px;
  }
}
.footer__title {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 24px;
  }
}
@media (min-width: 1024px) {
  .footer__title {
    margin-bottom: 32px;
  }
}
@media (min-width: 1920px) {
  .footer__wrapper {
    display: flex;
    margin-bottom: 70px;
  }
}
.footer__wrapper-subscribe {
  margin-bottom: 47px;
}
@media (min-width: 768px) {
  .footer__wrapper-subscribe {
    margin-bottom: 56px;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper-subscribe {
    margin-bottom: 62px;
  }
}
@media (min-width: 1920px) {
  .footer__wrapper-subscribe {
    margin-right: 28px;
    margin-bottom: 0;
  }
}
.footer__logo {
  margin-bottom: 47px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-bottom: 53px;
  }
}
@media (min-width: 1024px) {
  .footer__logo {
    margin-bottom: 62px;
  }
}
@media (min-width: 1920px) {
  .footer__logo {
    margin-bottom: 67px;
  }
}
.footer__wrapper-contact {
  margin-bottom: 60px;
}
@media (min-width: 1920px) {
  .footer__wrapper-contact {
    margin-bottom: 0;
  }
}
.footer__decorate-line {
  height: 57px;
  background-color: #1a1a1a;
}

@media (min-width: 1024px) {
  .header {
    height: 111px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 82px;
  height: 100%;
  border-bottom: 1px solid #101010;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__link {
  display: none;
}
@media (min-width: 1024px) {
  .header__link {
    display: flex;
    flex-direction: column;
    margin-right: 44px;
  }
}
.header__link-description {
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 13px;
  color: #bebebe;
}
.header__link-phone {
  margin-bottom: 11px;
  transition: text-shadow 0.3s;
}
.header__link-phone:hover {
  text-shadow: -3px 3px 1px #24a9f4;
}
.header__switch-wrapper {
  display: none;
}
@media (min-width: 768px) {
  .header__switch-wrapper {
    display: block;
    margin: 0 42px 0 auto;
  }
}
.header__burger-rect, .header__burger-line {
  transition: all 0.3s;
}
.header__burger-svg:hover .header__burger-rect {
  fill: #fff;
}
.header__burger-svg:hover .header__burger-line {
  stroke: #101010;
}

@media (min-width: 1024px) {
  .contact-list {
    display: flex;
  }
}
.contact-list--direction {
  display: block;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 34px;
}
@media (min-width: 1024px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
.contact-list__item--indention {
  margin-bottom: 24px;
}
.contact-list__link {
  display: inline-block;
  margin-bottom: 11px;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  transition: text-shadow 0.3s;
}
.contact-list__link:hover {
  text-shadow: -3px 3px 1px #24a9f4;
}
@media (min-width: 768px) {
  .contact-list__link {
    font-size: 1rem;
  }
}
@media (min-width: 1920px) {
  .contact-list__link {
    font-size: 0.93rem;
    letter-spacing: -1px;
  }
}
.contact-list__link--color {
  font-size: 0.88rem;
  color: #101010;
}
@media (min-width: 768px) {
  .contact-list__link--color {
    font-size: 1.12rem;
  }
}
@media (min-width: 1366px) {
  .contact-list__link--color {
    font-style: 1rem;
  }
}
.contact-list__link-description {
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 13px;
  color: #bebebe;
}
.contact-list__link-description--size {
  font-size: 0.75rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .social-links {
    justify-content: start;
    flex-direction: row;
  }
}
.social-links__item {
  height: 48px;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.3s;
}
.social-links__item:hover {
  background-color: #24a9f4;
}
@media (min-width: 768px) {
  .social-links__item {
    width: 196px;
  }
}
.social-links__item:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .social-links__item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}
.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 700;
  line-height: 22px;
  color: #101010;
  text-transform: uppercase;
}
.social-links__svg {
  margin-right: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 25px;
  color: #101010;
  text-transform: uppercase;
}
.title--styles {
  font-size: 2rem;
  line-height: 33px;
  color: #fff;
}
@media (min-width: 768px) {
  .title--styles {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .title--styles {
    font-size: 2.25rem;
  }
}
@media (min-width: 1920px) {
  .title--styles {
    font-size: 2.25rem;
    letter-spacing: -1px;
  }
}

.menu {
  display: flex;
  justify-content: end;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.menu__container {
  width: 303px;
  padding: 16px 30px 38px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .menu__container {
    width: 440px;
  }
}
@media (min-width: 1366px) {
  .menu__container {
    width: 487px;
  }
}
@media (min-width: 1920px) {
  .menu__container {
    width: 544px;
  }
}
.menu__cross {
  display: flex;
  justify-content: end;
  margin-bottom: 19px;
}
@media (min-width: 1366px) {
  .menu__cross-svg {
    height: 24px;
    width: 24px;
  }
}
.menu__list {
  margin-bottom: 21vh;
}
.menu__list-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__link {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 20px;
  color: #101010;
  text-transform: uppercase;
  transition: text-shadow 0.3s;
}
.menu__link:hover {
  text-shadow: -3px 3px 1px #24a9f4;
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 2rem;
  }
}
@media (min-width: 1366px) {
  .menu__link {
    font-size: 36px;
  }
}
.menu__link--indention {
  margin-bottom: 26px;
}
@media (min-width: 1024px) {
  .menu__link--indention {
    margin-bottom: 21px;
  }
}
@media (min-width: 1366px) {
  .menu__link--indention {
    margin-bottom: 31px;
  }
}
@media (min-width: 768px) {
  .menu__switch-wrapper {
    display: none;
  }
}
.menu__switch {
  margin-bottom: 24px;
}
.menu__contact-list {
  margin-bottom: 39px;
}
.menu__social-list {
  display: flex;
}
.menu__social-item:not(:last-child) {
  margin-right: 32px;
}
.menu__social-svg {
  transition: 0.3s;
}
svg:hover .menu__social-svg {
  fill: #24a9f4;
}

.container {
  padding: 0 24px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 39px;
  }
}
@media (min-width: 1366px) {
  .container {
    padding: 0 71px;
  }
}
@media (min-width: 1920px) {
  .container {
    padding: 0 114px;
  }
}
.container--burger-menu {
  max-width: 1920px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 20px;
  color: #101010;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .logo {
    font-size: 2.25rem;
  }
}
.logo__span {
  color: #24a9f4;
}
.logo--color {
  color: #fff;
}

.wrapper-accordion {
  height: auto;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}

.accordion {
  width: 100%;
}
.accordion:first-child {
  border-top: 1px solid #101010;
}
.accordion__panel {
  background-color: #fff;
  border: none;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.accordion__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 15px;
  color: #101010;
  text-align: start;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #101010;
  transition: color 0.3s;
}
.accordion__btn:hover {
  color: #24a9f4;
}
@media (min-width: 1366px) {
  .accordion__btn {
    font-size: 1rem;
    line-height: 16px;
  }
}
@media (min-width: 1920px) {
  .accordion__btn {
    padding: 24px 0;
  }
}
.accordion__btn:hover path {
  stroke: #24a9f4;
}
.accordion__svg {
  width: 5%;
  margin-left: 20px;
  opacity: 1;
  transition: opacity 0.3s;
}
.is-active-ac .accordion__svg {
  opacity: 0;
}
.accordion__svg path {
  transition: stroke 0.3s;
}
.accordion__content {
  display: none;
  font-family: "KyivTypeSerif", sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 22px;
  color: #101010;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
@media (min-width: 1366px) {
  .accordion__content {
    font-size: 1rem;
    line-height: 24px;
  }
}
.is-active-ac .accordion__content {
  display: block;
  border-bottom: 1px solid #101010;
}
.accordion__inner {
  height: 100%;
  padding: 16px 0;
}
@media (min-width: 1024px) {
  .accordion__inner {
    padding: 8px 0;
  }
}
@media (min-width: 1366px) {
  .accordion__inner {
    padding: 10px 0;
  }
}
@media (min-width: 1920px) {
  .accordion__inner {
    padding: 30px 0 200px;
  }
}

.swiper {
  margin: 0;
}
.swiper--slide1::before {
  content: "1";
}
.swiper--slide2::before {
  content: "2";
}
.swiper--slide3::before {
  content: "3";
}
.swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
  position: absolute;
  bottom: 16px;
  left: 56px;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}
@media (min-width: 768px) {
  .swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
    bottom: 15px;
  }
}
@media (min-width: 1366px) {
  .swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
    font-size: 2.25rem;
    bottom: 35px;
    left: 100px;
  }
}
.swiper--slide1::after, .swiper--slide2::after, .swiper--slide3::after {
  content: "/3";
  position: absolute;
  bottom: 17px;
  left: 76px;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}
@media (min-width: 768px) {
  .swiper--slide1::after, .swiper--slide2::after, .swiper--slide3::after {
    font-size: 1.5rem;
  }
}
@media (min-width: 1366px) {
  .swiper--slide1::after, .swiper--slide2::after, .swiper--slide3::after {
    font-size: 2.25rem;
    bottom: 37px;
    left: 133px;
  }
}
.swiper__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1366px) {
  .swiper__btn-svg {
    height: 41px;
    width: 47px;
  }
}
@media (min-width: 1366px) {
  .swiper__btn {
    width: 47px;
  }
}
.swiper__btn-icon {
  transition: all 0.3s ease-in;
}
.swiper__btn-icon:hover .swiper__btn-icon-path {
  fill: #fff;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 4px;
}
@media (min-width: 1366px) {
  .swiper-button-next,
.swiper-button-prev {
    bottom: 25px;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 17px;
}
@media (min-width: 1366px) {
  .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 27px;
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 107px;
}
@media (min-width: 768px) {
  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: 117px;
  }
}
@media (min-width: 1366px) {
  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: 200px;
  }
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 100%;
  height: 48px;
  box-shadow: 2px 3px 4px #1a1a1a;
  overflow: hidden;
}
@media (min-width: 768px) {
  .form-content {
    width: 624px;
  }
}
@media (min-width: 1024px) {
  .form-content {
    width: 831px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}
.form__add-email {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-family: "KyivTypeSerif", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 16px;
  color: #101010;
  border: none;
  outline: none;
}
@media (min-width: 1366px) {
  .form__add-email {
    font-size: 1.12rem;
  }
}
.form__submit-email {
  font-family: "Syncopate", sans-serif;
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 0;
  color: #fff;
  background: #101010;
  transition: background-color 0.3s;
}
.form__submit-email:hover {
  background-color: #24a9f4;
}
@media (min-width: 768px) {
  .form__submit-email {
    font-size: 1rem;
  }
}
@media (min-width: 1366px) {
  .form__submit-email {
    font-size: 1.12rem;
  }
}
.form__submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  outline: none;
  margin: 1px;
  padding: 0 20px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .form__submit-email {
    width: 208px;
  }
}
@media (min-width: 1024px) {
  .form__submit-email {
    width: 251px;
  }
}
.form__submit-email:active {
  background-color: #1485c5;
}
.form.done .form__submit-email {
  width: calc(100% - 2px);
  background: #1485c5;
}
.form__submit-email .form__before-submit, .form__submit-email .form__after-submit {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.form.done .form__submit-email .form__before-submit, .form:not(.done) .form__submit-email .form__after-submit {
  visibility: hidden;
  opacity: 0;
}
.form .form__submit-email .form__after-submit {
  transition-delay: 0.3s;
}
.form:not(.done) .form__submit-email .form__before-submit, .form.done .form__submit-email .form__after-submit {
  visibility: visible;
  opacity: 1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
}
.switch__input {
  display: none;
}
.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 34px;
  background-color: #2d2d2d;
  transition: all 0.3s;
}
.switch__slider:before {
  content: "";
  position: absolute;
  height: 34px;
  width: 34px;
  left: 0;
  bottom: 0;
  background-image: url("./styles/images/icons/light.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #bebebe;
  border-radius: 50%;
  box-shadow: -2px 4px 5px #bebebe;
  background-color: #fff;
  transition: 0.3s;
}
.switch__input:checked + .switch__slider {
  background-color: #2d2d2d;
}
.switch__input:focus + .switch__slider {
  box-shadow: 0 0 1px #2d2d2d;
}
.switch__input:checked + .switch__slider:before {
  background-image: url("./styles/images/icons/dark.svg");
  background-color: #707070;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #bebebe;
  transform: translateX(17px);
}

.swiper {
  margin: 0;
}
.swiper--slide1::before {
  content: "1";
}
.swiper--slide2::before {
  content: "2";
}
.swiper--slide3::before {
  content: "3";
}
.swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
  position: absolute;
  bottom: 16px;
  left: 56px;
  font-size: 1.12rem;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
}
@media (min-width: 768px) {
  .swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
    bottom: 15px;
  }
}
@media (min-width: 1366px) {
  .swiper--slide1::before, .swiper--slide2::before, .swiper--slide3::before {
    font-size: 2.25rem;
    bottom: 35px;
    left: 100px;
  }
}
.swiper--slide1::after, .swiper--slide2::after, .swiper--slide3::after {
  content: "/3";
  position: absolute;
  bottom: 17px;
  left: 76px;
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}
@media (min-width: 768px) {
  .swiper--slide1::after, .swiper--slide2::after, .swiper--slide3::after {
    font-size: 1.5rem;
  }
}
@media (min-width: 1366px) {
  .swiper--slide1::after, .swiper--slide2::after, .swiper--slide3::after {
    font-size: 2.25rem;
    bottom: 37px;
    left: 133px;
  }
}
.swiper__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1366px) {
  .swiper__btn-svg {
    height: 41px;
    width: 47px;
  }
}
@media (min-width: 1366px) {
  .swiper__btn {
    width: 47px;
  }
}
.swiper__btn-icon {
  transition: all 0.3s ease-in;
}
.swiper__btn-icon:hover .swiper__btn-icon-path {
  fill: #fff;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 4px;
}
@media (min-width: 1366px) {
  .swiper-button-next,
.swiper-button-prev {
    bottom: 25px;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 17px;
}
@media (min-width: 1366px) {
  .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 27px;
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 107px;
}
@media (min-width: 768px) {
  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: 117px;
  }
}
@media (min-width: 1366px) {
  .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    left: 200px;
  }
}

.card {
  text-align: center;
  border: 1px solid #101010;
  transition: box-shadow, 0.3s;
}
@media (min-width: 1024px) {
  .card {
    transition: box-shadow 0.3s;
  }
  .card:hover {
    box-shadow: #24a9f4 -7px 7px 1px 1px, #000 -7px 7px 1px 2px;
  }
}
.card__img {
  height: 167px;
  padding-bottom: 11px;
}
.card__wrapper {
  padding: 0 24px 24px;
  text-align: left;
}
.card__title {
  padding-bottom: 4px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  color: #101010;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .card__title {
    font-size: 0.88rem;
    line-height: 17px;
  }
}
@media (min-width: 1366px) {
  .card__title {
    font-size: 1rem;
    line-height: 22px;
  }
}
.card__description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #101010;
  font-family: "KyivTypeSerif", sans-serif;
}
@media (min-width: 1024px) {
  .card__description {
    font-size: 0.88rem;
    line-height: 22px;
  }
}
@media (min-width: 1366px) {
  .card__description {
    font-size: 1rem;
    line-height: 24px;
  }
}

.card-swiper {
  position: relative;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card-swiper {
    overflow: visible;
  }
}
.card-swiper__slide {
  width: 288px;
  min-height: 370px;
}
@media (min-width: 1920px) {
  .card-swiper__slide {
    min-height: 400px;
  }
}
.card-swiper .swiper-wrapper {
  padding-bottom: 60px;
}

.swiper-slide {
  height: initial;
}

.swiper-horizontal .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 16px;
  left: 5px;
  background-color: #efefef;
}

.swiper-scrollbar-drag {
  height: 16px;
  width: 200px;
  background-color: #101010;
  border-radius: 0;
}

.swiper-scrollbar {
  border-radius: 0;
}

.draggable div {
  height: 16px;
  background-color: #101010;
}

.dark-theme {
  background-color: #191919;
}
.dark-theme .page__header,
.dark-theme h1,
.dark-theme p,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme a {
  color: #fff;
}
.dark-theme .header__wrapper {
  border-color: #fff;
}
.dark-theme .header__burger-svg .header__burger-rect {
  fill: #fff;
}
.dark-theme .header__burger-svg:hover .header__burger-rect {
  fill: #1485c5;
}
.dark-theme .header__burger-svg .header__burger-line {
  stroke: #101010;
}
.dark-theme .header__burger-svg:hover .header__burger-line {
  stroke: #fff;
}
.dark-theme .menu__container {
  background-color: #191919;
}
.dark-theme .menu__social-svg {
  fill: #fff;
}
.dark-theme .menu__cross-svg path {
  stroke: #fff;
}
.dark-theme .accordion__btn,
.dark-theme .accordion__content,
.dark-theme .accordion__panel {
  color: #fff;
  background-color: #191919;
}
.dark-theme .accordion__btn:hover path {
  stroke: #24a9f4;
}
.dark-theme .accordion__btn {
  transition: color 0.3s;
}
.dark-theme .accordion__btn:hover {
  color: #24a9f4;
}
.dark-theme .accordion:first-child {
  border-color: #fff;
}
.dark-theme .accordion__btn {
  border-color: #fff;
}
.dark-theme .is-active-ac .accordion__content {
  border-color: #fff;
}
.dark-theme .accordion__svg path {
  stroke: #fff;
}
.dark-theme .footer__decorate-line {
  background-color: #2d2d2d;
}
.dark-theme .card {
  background-color: #272727;
  border-color: #fff;
}
@media (min-width: 1024px) {
  .dark-theme .card {
    transition: box-shadow 0.3s;
  }
  .dark-theme .card:hover {
    box-shadow: #24a9f4 -7px 7px 1px 1px, #fff -7px 7px 1px 2px;
  }
}
.dark-theme .draggable div {
  border: 1px solid #fff;
  background-color: #2d2d2d;
}
.dark-theme .subscribe-section__wrapper {
  border-color: #fff;
}
.dark-theme .form__submit-email {
  background-color: #24a9f4;
  transition: background-color 0.3s;
}
.dark-theme .form__submit-email:hover {
  background-color: #1485c5;
}
.dark-theme .social-links__link {
  color: #101010;
}
.dark-theme .page__footer {
  background-color: #272727;
}/*# sourceMappingURL=main.css.map */