@import "../utils";

.ac {
  background-color: $color-white;

  &:first-child {
    border-top: 1px solid $color-text;
  }

  &-trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 20px 0;
    @include font-style($fw-700, $fs-14, 14px);
    text-align: left;
    text-transform: uppercase;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #000;

    @include wxga {
      font-size: $fs-16;
    }
  }

  &-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
  }

  &-text {
    @include font-style($fw-400, $fs-14, 22px);
    font-family: $ff-kyiv;
    padding: 17px 0;
    border-bottom: 1px solid $color-text;

    @include desktop {
      padding: 19px 0;
    }

    @include wxga {
      font-size: $fs-16;
    }
  }

  &-svg {
    width: 16px;
  }
}

// .ac.is-active > .ac-panel {
//   display: block;
//   position: absolute;
//   bottom: 0;
// }

.ac.is-active > .ac-header .ac-trigger .ac-svg {
  display: none;
}

