@import "../utils";

.card {
  // max-width: 288px;
  text-align: center;
  font-family: arial;
  border: 1px solid $color-black2;
  @include hover(box-shadow,-7px 7px 1px $color-blue);
  @include hover(box-shadow, 0 0 2px $color-black);
  // box-shadow: #804020 0 0 0  3px,
  // #ffffff 0 0 0  4px,
  // #804020 0 0 0  7px,
  // #ffffff 0 0 0  8px,
  // #804020 0 0 0 15px;


  &__img {
    height: 167px;
    padding-bottom: 11px;
  }

  &__wrapper {
    padding: 0 24px 24px;
    text-align: left;
  }

  &__title {
    padding-bottom: 4px;
    @include font-style($fw-700, $fs-16, 20px);

    @include desktop {
      font-size: $fs-14;
      line-height: 17px;
    }

    @include wxga {
      font-size: $fs-16;
      line-height: 22px;
    }
  }

  &__description {
    @include font-style($fw-400, $fs-16, 24px);
    font-family: $ff-kyiv;
    flex-grow: 1;

    @include desktop {
      font-size: $fs-14;
      line-height: 22px;
    }

    @include wxga {
      font-size: $fs-16;
      line-height: 24px;
    }
  }
}
