@import "../utils";

.contact-list {
  @include desktop {
    display: flex;
  }

  &--direction {
    display: block;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 34px;

      @include desktop {
        margin-right: 30px;
      }
    }

    &--indention {
      margin-bottom: 24px;
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 11px;
    @include font-style($fw-700, $fs-18, 18px, $color-white);
    @include hover(text-shadow,-3px 3px 1px $color-blue);

    @include pad {
      font-size: $fs-16;
    }

    @include full {
      font-size: $fs-15;
      letter-spacing: -1px;
    }

    &--color {
      font-size: $fs-14;
      color: $color-text;

      @include pad {
        font-size: $fs-18;
      }

      @include wxga {
        font-style: $fs-16;
      }
    }
  }

  &__link-description {
    @include font-style($fw-400, $fs-13, 13px, $color-gray);

    &--size {
      font-size: $fs-12;
    }
  }
}
