@import "../utils";

.header {
  @include desktop {
    height: 111px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 82px;
    border-bottom: 1px solid $color-text;
  }

  &__link {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: column;
    }
  }

  &__burger-menu {
    margin-left: auto;
  }
}
