@import "../utils";

.header {
  @include desktop {
    height: 111px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 82px;
    height: 100%;
    border-bottom: 1px solid $color-text;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__link {
    display: none;

    @include desktop {
      display: flex;
      flex-direction: column;
      margin-right: 44px;
    }
  }

  &__switch-wrapper {
    display: none;

    @include pad {
      display: block;
      margin: 0 42px 0 auto;
    }
  }
}
