@import "../utils";

.card-swiper {
  position: relative;
  overflow: hidden;

  @include desktop {
    overflow: visible;
  }

  &__slide {
    width: 288px;
    min-height: 370px;

    @include full {
      min-height: 400px;
    }
  }

  & > .swiper-wrapper {
    padding-bottom: 60px;
  }
}

.swiper-slide {
  height: initial;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 16px;
  left: 5px;
  background-color: $color-light-gray;
}

.swiper-scrollbar-drag {
  height: 16px;
  width: 200px;
  background-color: $color-black2;
  border-radius: 0;
}

.swiper-scrollbar {
  border-radius: 0;
}

.draggable div {
  height: 16px;
  background-color: $color-black2;
}

//card swaiper
//-------------------------------------
// .card-swiper {
//   position: relative;
//   height: 410px;
//   overflow: hidden;

//   &__slide {
//     display: flex;
//     max-height: 370px;
//     width: 288px; // space between cards

//     &:not(:last-child) {
//       margin-right: 16px;
//     }

//     @include desktop {
//       width: 224px;
//     }
//   }
// }

// .swiper-horizontal > .swiper-scrollbar,
// .swiper-scrollbar.swiper-scrollbar-horizontal {
//   height: 16px;
//   left: 0;
//   background-color: $color-light-gray;
// }

// .swiper-scrollbar-drag {
//   height: 16px;
//   width: 200px;
//   background-color: $color-black2;
//   border-radius: 0;
// }

// .swiper-scrollbar {
//   border-radius: 0;
// }

// .draggable div {
//   height: 16px;
//   background-color: $color-black2;
// }

//-------------------------------

.swiper {
  &--slide1::before {
    content: "1";
  }

  &--slide2::before {
    content: "2";
  }

  &--slide3::before {
    content: "3";
  }

  &--slide1::before,
  &--slide2::before,
  &--slide3::before {
    position: absolute;
    bottom: 16px;
    left: 56px;
    @include font-style($fw-700, $fs-18, 18px, $color-white);

    @include pad {
      font-size: $fs-24;
    }

    @include desktop {
      bottom: 15px;
    }

    @include wxga {
      font-size: $fs-36;
      bottom: 36px;
      left: 100px;
    }
  }

  &--slide1::after,
  &--slide2::after,
  &--slide3::after {
    content: "/3";
    position: absolute;
    bottom: 17px;
    left: 76px;
    @include font-style($fw-400, $fs-18, 18px, $color-white);

    @include pad {
      font-size: $fs-24;
    }

    @include wxga {
      font-size: $fs-36;
      bottom: 37px;
      left: 133px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__btn-svg {
    @include wxga {
      height: 41px;
      width: 47px;
    }
  }

  &__btn {
    @include wxga {
      width: 47px;
    }
  }

  &__btn-icon &__btn-icon-path {
    transition: fill $transition-time ease-in;
  }

  &__btn-icon:hover &__btn-icon-path {
    fill: $color-white;
  }
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 4px;

  @include wxga {
    bottom: 25px;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 17px;

  @include wxga {
    left: 27px;
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  left: 107px;

  @include pad {
    left: 117px;
  }

  @include wxga {
    left: 200px;
  }
}
