@import "../utils";

.card-swiper {
  position: relative;
  overflow: hidden;

  @include desktop {
    overflow: visible;
  }

  &__slide {
    width: 288px;
    min-height: 370px;

    @include full {
      min-height: 400px;
    }
  }

  & .swiper-wrapper {
    padding-bottom: 60px;
  }
}

.swiper-slide {
  height: initial;
}

.swiper-horizontal
.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 16px;
  left: 5px;
  background-color: $color-light-gray;
}

.swiper-scrollbar-drag {
  height: 16px;
  width: 200px;
  background-color: $color-black2;
  border-radius: 0;
}

.swiper-scrollbar {
  border-radius: 0;
}

.draggable div {
  height: 16px;
  background-color: $color-black2;
}
