@import "../utils";

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-content {
  width: 100%;
  height: 40px;
  box-shadow: 2px 3px 4px $color-dark-gray;
  overflow: hidden;

  @include pad {
    width: 624px;
  }

  @include desktop {
    width: 831px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  &__add-email {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-family: $ff-kyiv;
    @include font-style($fw-400, $fs-16, 16px);
    border: none;
    outline: none;

    @include wxga {
      font-size: $fs-18;
    }
  }

  &__submit-email {
    font-family: $ff-syncopate;
    @include font-style($fw-700, $fs-14, 0, $color-white);
    background: $color-black2;
    @include hover(background-color, $color-blue);

    @include pad {
      font-size: $fs-16;
    }

    @include wxga {
      font-size: $fs-18;
    }
  }

  &__submit-email {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 2px);
    width: 100px;
    border: none;
    outline: none;
    margin: 1px;
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    color: $color-white;
    transition: all $transition-time ease-in-out;

    @include pad {
      width: 208px;
    }

    @include desktop {
      width: 251px;
    }

    &:active {
      background-color: $color-aqua;
    }
  }

  &.done &__submit-email {
    width: calc(100% - 2px);
    background: $color-aqua;
  }

  &__submit-email
  &__before-submit,
  &__submit-email
  &__after-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: all $transition-time ease-in-out;
  }

  &.done &__submit-email &__before-submit,
  &:not(.done) &__submit-email &__after-submit {
    visibility: hidden;
    opacity: 0;
  }

  & &__submit-email &__after-submit {
    transition-delay: $transition-time;
  }

  &:not(.done) &__submit-email &__before-submit,
  &.done &__submit-email &__after-submit {
    visibility: visible;
    opacity: 1;
  }
}
