@import "../utils";

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;

  &__input {
    display: none;
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border-radius: 34px;
    background-color: $color-dark-gray3;
    -webkit-transition: $transition-time;
    transition: all $transition-time;

    &:before {
      content: "";
      position: absolute;
      height: 34px;
      width: 34px;
      left: 0;
      bottom: 0;
      background-image: url("./styles/images/icons/light.svg");
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid $color-gray;
      border-radius: 50%;
      box-shadow: -2px 4px 5px $color-gray;
      background-color: $color-white;
      -webkit-transition: $transition-time;
      transition: $transition-time;
    }
  }

  &__input:checked + &__slider {
    background-color: $color-dark-gray3;
  }

  &__input:focus + &__slider {
    box-shadow: 0 0 1px $color-dark-gray3;
  }

  &__input:checked + &__slider:before {
    background-image: url("./styles/images/icons/dark.svg");
    background-color: $color-gray1;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid $color-gray;
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
}
