@import "../utils";

.title {
  @include font-style($fw-700, $fs-24, 25px);
  text-transform: uppercase;

  &--styles {
    font-size: $fs-32;
    line-height: 33px;
    color: $color-white;

    @include pad {
      font-size: $fs-24;
    }

    @include desktop {
      font-size: $fs-36;
    }

    @include full {
      font-size: $fs-36;
      letter-spacing: -1px;
    }
  }
}
