@import "../utils";

.news-section {
  max-width: 1924px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  margin-bottom: 300px;

  @include pad {
    padding-left: 32px;
  }

  @include desktop {
    padding: 0 39px;
  }

  @include wxga {
    padding: 0 71px;
  }

  @include full {
    padding: 0 114px;
  }

  &__title {
    margin-bottom: 24px;
  }
}
