@import "../utils";

.swiper {
  &--slide1::before {
    content: "1";
  }

  &--slide2::before {
    content: "2";
  }

  &--slide3::before {
    content: "3";
  }

  &--slide1::before,
  &--slide2::before,
  &--slide3::before {
    position: absolute;
    bottom: 16px;
    left: 56px;
    @include font-style($fw-700, $fs-18, 18px, $color-white);

    @include pad {
      font-size: $fs-24;
    }

    @include desktop {
      bottom: 15px;
    }

    @include wxga {
      font-size: $fs-36;
      bottom: 35px;
      left: 100px;
    }
  }

  &--slide1::after,
  &--slide2::after,
  &--slide3::after {
    content: "/3";
    position: absolute;
    bottom: 17px;
    left: 76px;
    @include font-style($fw-400, $fs-18, 18px, $color-white);

    @include pad {
      font-size: $fs-24;
    }

    @include wxga {
      font-size: $fs-36;
      bottom: 37px;
      left: 133px;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__btn-svg {
    @include wxga {
      height: 41px;
      width: 47px;
    }
  }

  &__btn {
    @include wxga {
      width: 47px;
    }
  }

  &__btn-icon {
    transition: all $transition-time ease-in;
  }

  &__btn-icon:hover &__btn-icon-path {
    fill: $color-white;
  }
}

.swiper-button-prev:after,
.swiper-rtl
.swiper-button-next:after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: auto;
  bottom: 4px;

  @include wxga {
    bottom: 25px;
  }
}

.swiper-button-prev,
.swiper-rtl
.swiper-button-next {
  left: 17px;

  @include wxga {
    left: 27px;
  }
}

.swiper-button-next:after,
.swiper-rtl
.swiper-button-prev:after {
  content: "";
}

.swiper-button-next,
.swiper-rtl
.swiper-button-prev {
  left: 107px;

  @include pad {
    left: 117px;
  }

  @include wxga {
    left: 200px;
  }
}
