// colors
$color-black: #000;
$color-white: #fff;
$color-blue: #24a9f4;
$color-dark-gray: #1A1A1A;
$color-text: #101010;
$color-gray: #bebebe;

//fonts
$ff-syncopate: 'Syncopate', sans-serif;
$ff-kyiv: 'KyivTypeSerif', sans-serif;
$ff-grotesk: 'Space Grotesk', sans-serif;


// $fs-48: 3rem;
$fs-105: 6.56rem;
$fs-72: 4.5rem;
$fs-36: 2.25rem;
$fs-32: 2rem;
$fs-31: 1.93rem;
$fs-24: 1.5rem;
$fs-22: 1.38rem;
$fs-20: 1.25rem;
$fs-18: 1.12rem;
$fs-16: 1rem;
$fs-16: 1rem;
$fs-15: 0.93rem;
$fs-14: 0.88rem;
$fs-13: 0.81rem;
$fs-12: 0.75rem;

$fw-400: 400;
$fw-700: 700;

// breakpoints
$media-mobile-width: 375px;
$media-pad-width: 768px;
$media-desktop-width: 1024px;
$media-wxga-width: 1366px;
$media-full-width: 1696px;

//transition
$transition-time: 0.3s;
