// colors
$color-black: #000;
$color-black2: #101010;
$color-white: #fff;
$color-blue: #24a9f4;
$color-dark-gray: #1a1a1a;
$color-dark-gray2: #272727;
$color-dark-gray3: #2d2d2d;
$color-gray: #bebebe;
$color-gray1: #707070;
$color-light-gray: #efefef;
$color-aqua: #1485c5;
$color-dark-theme: #191919;

//fonts
$ff-syncopate: "Syncopate", sans-serif;
$ff-kyiv: "KyivTypeSerif", sans-serif;

$fs-105: 6.56rem;
$fs-72: 4.5rem;
$fs-66: 4.12rem;
$fs-50: 3.12rem;
$fs-48: 3rem;
$fs-42: 2.37rem;
$fs-40: 2.5rem;
$fs-36: 2.25rem;
$fs-32: 2rem;
$fs-31: 1.93rem;
$fs-28: 1.75rem;
$fs-24: 1.5rem;
$fs-22: 1.38rem;
$fs-20: 1.25rem;
$fs-18: 1.12rem;
$fs-16: 1rem;
$fs-16: 1rem;
$fs-15: 0.93rem;
$fs-14: 0.88rem;
$fs-13: 0.81rem;
$fs-12: 0.75rem;

$fw-400: 400;
$fw-700: 700;

// breakpoints
$media-mobile-width: 375px;
$media-pad-width: 768px;
$media-desktop-width: 1024px;
$media-wxga-width: 1366px;
$media-full-width: 1924px;

//transition
$transition-time: 0.3s;

//shadows
$shadow-blue-card: $color-blue -7px 7px 1px 1px, $color-black -7px 7px 1px 2px;
$shadow-blue-card2: $color-blue -7px 7px 1px 1px, $color-white -7px 7px 1px 2px;
$shadow-white: 3px 3px 4px $color-white;
$shadow-blue: -3px 3px 1px $color-blue;
